---
title: Home
---

%h1 A Brand New nanoc + HTML5 Boilerplate Site

%p
  You’ve just created a new nanoc site. The page you are looking at right
  now is the home page for your site. To get started, consider replacing
  this default homepage with your own customized homepage. Some pointers
  on how to do so:

%ul
  %li
    %p
      <strong>Change this page’s content</strong> by editing the “index.haml”
      file in the “content” directory. This is the actual page content, and
      therefore doesn’t include the header, sidebar or style information
      (those are part of the layout).
  %li
    %p
      <strong>Change the layout</strong>, which is the “default.haml” file
      in the “layouts” directory, and create something unique (and hopefully
      less bland).
  %li
    %p
      <strong>Change the style</strong>, which is the “style.scss” file in
      the “content/css” directory which uses Compass and HTML5 Boilerplate.
 
%p If you need any help with customizing your nanoc + HTML5 Boilerplate web site, be sure to check out the documentation (see below), and be sure to subscribe to the discussion group (also see sidebar). Enjoy!

%h2 nanoc Documentation
%ul
  %li
    %a{:href => 'http://nanoc.stoneship.org/docs/'} Documentation
  %li
    %a{:href => 'http://nanoc.stoneship.org/docs/3-getting-started/'} Getting Started
%h2 nanoc Community
%ul
  %li
    %a{:href => 'http://groups.google.com/group/nanoc/'} Discussion Group
  %li
    %a{:href => 'irc://chat.freenode.net/#nanoc'} IRC Channel
  %li
    %a{:href => 'http://projects.stoneship.org/trac/nanoc/'} Wiki
