// Example index.haml styles.

#content {
  position: absolute;

  top: 40px;
  left: 280px;
  margin-right: 20px
}

#sidebar {
  position: absolute;

  top: 40px;
  left: 20px;
  width: 200px;

  padding: 20px 20px 0 0;

  border-right: 1px solid #ccc;

  text-align: right;
}

#sidebar ul {
  list-style-type: none;

  margin: 20px 0;
}
