// Example index.haml styles.

body {
  background-color: #333;
  color: white;
  font-weight: bold;
}

h1, h2, h3 {
  text-shadow: 1px 1px 2px #9af;
}

#content > h1 {
  overflow: auto;
  img {
    border: 1px solid #888;
    margin-right: 0.5em;
    float: left;
  }
}

p, li {
  text-shadow: 1px 1px black;
}

a, a:link, a:visited {
  color: #9af;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

#content {
  position: absolute;

  top: 40px;
  left: 300px;
  margin-right: 100px;

  border-left: 3px solid #888;
  padding-left: 40px;
}

#sidebar {
  position: absolute;

  top: 40px;
  left: 20px;
  width: 260px;

  padding: 20px 20px 0 0;

  text-align: right;
}

#sidebar ul {
  list-style-type: none;

  margin: 20px 0;
}
